@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    section.forecast {
        display: table;
    }
    /* show the 10-day forecast with the medium view and up */
   
    /* responsive images */
    img {
        width: 100%;
        height: 100%;
        margin: 20pt;
        overflow: auto;
    }
    #meadow {
        width: 100%;
    }
    main h2,
    h3 {
        text-align-last: left;
        font-size: 2em;
    }
    header h1 {
        font-family: 'Rock Salt', cursive;
        padding: 25px;
        font-size: 2em;
        line-height: 2em;
        color: #274262;
    }
    h2,
    h3 {
        font-family: 'Bembo Book MT Pro', serif;
        padding: 1.4px;
        font-size: 2em;
        line-height: 1.5em;
        color: #274262;
    }
    header .subheading {
        display: flex;
        flex-direction: column;
        margin-bottom: 4px;
        margin-top: 5px;
        font-family: 'Myriad Apple';
        font-weight: normal;
        font-size: 18px;
        color: #006E52;
        background-color: #FFFAF6;
    }
    nav {
        background: #006e2e;
        /* Old browsers */
        background: -moz-linear-gradient(top, #006e2e 11%, #247863 38%, #006e2e 44%, #006e2e 68%, #247863 97%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #006e2e 11%, #247863 38%, #006e2e 44%, #006e2e 68%, #247863 97%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #006e2e 11%, #247863 38%, #006e2e 44%, #006e2e 68%, #247863 97%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#247863', GradientType=0);
        /* IE6-9 */
    }
    nav button {
        display: none;
    }
    nav ul.hide {
        display: flex;
        display: -ms-flexbox;

    }
    nav ul {

        list-style-type: none;
        margin-left: 1px;
        border-left: none;
        flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        font-family: 'Myriad Apple';
        font-size: 20rem;
    }

    nav ul li {
        -ms-flex: 1 0 auto;

        border-right: 1px solid #F0F4FA;
        border-bottom: none
    }

    li:first-child {
        border-left: none;
    }
    li:last-child {
        border-right: none;
        ;
    }

    nav ul li a {


        color: #E0E6E8;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Myriad Apple';
        font-size: 18px;
    }
    nav ul li.active a {
        color: #ffffff;
    }
    nav ul li a:hover {
        color: #FFD3B9;
    }
    section {
        display: table;
    }
    header img {
        display: flex;
        flex-direction: column;
        max-width: 255px;
        max-height: 300px;
        border-radius: 5px;
        /*adds 3d effect to images*/
    }
    #logo {
        display: flex;
        flex-flow: column;
        position: absolute;
        left: 380pt;
        z-index: 10;
        width: 82px;
        height: 82px;
    }
    div.weatherGallery {

        grid-template-columns: repeat(2, 49%);
        grid-gap: 2%;
    }
    div.weatherGallery img {
        width: 100%;
        margin-top: -.5px;

    }
    div.weatherGallery figure {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        align-content: flex-end;

    }

    table,
    th,
    td {
        border: 3px solid #006E52;
        background-color: #E0E6E8;
        padding-bottom: 6px;
        padding-top: 6px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Myriad Apple', sans-serif;
        font-size: 15px;
        color: #006E52;
    }

    footer {

        background-color: #247863;
    }
    footer aside,
    footer > p {

        background-color: #247863;
        font-family: 'Myriad Apple', sans-serif;
        color: #E0E6E8;
        font-size: 12px;
    }
    #thanks {
        font-size: 5rem;
        font-weight: 900;

    }
    #report {
        font-size: 3rem;
        color: black;
        letter-spacing: 1px;

    }

    #weatherContainer {
        display: flex;
        flex-direction: row;
       
    }

    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .weatherCondition img{
    width: 60%;
}
    
    
    .top{
        margin-top: 277px;
    }

}
