html {
    font-family: 'Ubuntu', sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    box-shadow: 5px 5px 7px .8px #628ca6;
    font-weight: 600;
    width: 39%;
    height: 50%;
}

#header {
    text-align: center;
    font-size: 30px;
    font-stretch: expanded;
    font-weight:900;
    color: black;
    background-color: #7fb9c2;
    border: 1.8px solid rgb(190, 190, 190);
}

th {
    border: 2px solid rgb(190, 190, 190);
    text-align:center;
    padding-top: 9px;
    padding-bottom: 9.5px;
    letter-spacing: .5px;

}

th {
    color: white;
    font-weight: bold;
    background-color: #628ca6;
    font-size: 18px;
    text-align: center;
}

td {
    border: 2px solid rgb(190, 190, 190);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 7px;
    font-weight:bold;
    font-size:16px;
    letter-spacing: .5px;
}

tr,
td {
    background-color: #e7f0ed;
}

tr:nth-child(even) td {
    
     background-color: #e7ffed;
}

tr:nth-child(odd) td {
    background-color: #e7f0ed;
    
}

tr: td {
    background-color: aqua;
}
#italic{
    font-style: italic;
}
#special {
    background-color: #628ca6;
    color: white;
}

#last {
    background-color: #7fb9c2;
    font-weight: bold;
    padding: 9px;
    font-size: 14px;
}
