/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Myriad Apple', sans-serif;
    font-size: 16px;
    color: #274262;
    background-color: #FFFAF6;
    /* Declare the base font-family - from google font api or other */
}

section.forecast {
    display: none;
}


header,
nav,
main,
footer {
    max-width: 100%;
}


header {
    background-color: #F0F4FA;

}

header h1 {
    font-family: 'font-family: 'Abril Fatface', cursive;
    padding: 1.4px;
    font-size: 1.5em;
    line-height: 2em;
    color: #274262;
}

header .subheading {

    margin-bottom: 1px;
    font-family: 'Myriad Apple';
    font-weight: normal;
    font-size: 12px;
    color: #006E52;
    background-color: #FFFAF6;
}

nav {
    background: #247863;
}

nav button {
    display: none;
}

nav ul {
    border: 1px solid #E0E6E8;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Myriad Apple';


}

nav ul li {
    text-align: center;
    border-bottom: 1px solid #E0E6E8;

}

li:last-child {
    border-bottom: none;
}

nav ul li a {
    color: #E0E6E8;
    font-size: 1.5em;
    text-decoration: none;
}

nav ul li.active a {
    color: #ffffff;
}

nav ul li a:hover {
    color: #FFD3B9;
}


main {

    font-family: 'font-family: 'Abril Fatface', cursive;
    padding: 10px;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #274262
}

main h2,
h3 {
    text-align-last: left;
    font-size: 1em;

}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}



.current {
    width: 30%;
    align-content: center;
}

#logo {

    position: absolute;
    top: 6pt;
    left: 220pt;
    z-index: 10;
    width: 82px;
    height: 82px;
}


article p.town-article img,
img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: 100%;
    /* fill the page in the small/phone view */
    margin: auto;
    overflow: auto;



}

.town-article {
    width: 100%;
    height: auto;
    border: 2px solid #006E52;
    padding: 2px;
    margin: 10px;
    background-color: #F0F4FA;
    font-family: 'Myraid Apple', sans-serif;
    font-size: 15px;
    color: #274262;
}


footer {

    background-color: #247863;
}

footer aside,
footer > p {


    background-color: #247863;
    font-family: 'Myriad Apple', sans-serif;
    color: #E0E6E8;
    font-size: 12px;

}



/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
